{% extends 'layout.html' %}
{% block main%}
<ol class="breadcrumb">
    <li><a href="/admin">博客首页</a></li>
    <li><span>分类列表</span></li>
</ol>
<h3>分类列表</h3>
<table class="table table-hover table-bordered">
    <tr>
        <th>Id</th>
        <th>描述</th>
        <th>图片</th>
        <th>添加时间</th>
    </tr>
    {% for bzmings in bzimg %}
    <tr>
        <td>{{bzmings._id.toString()}}</td>
        <td>{{bzmings.content}}</td>
        <td><img src="{{bzmings.bzImg}}" alt=""></td>
        <td>{{bzmings.addTime|date('Y年m月d日 H:i:s',-60*8)}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}