{% extends 'layout.html' %}

{% block main%}
<ol class="breadcrumb">
  <li><a href="/admin/category">管理首页</a></li>
  <li><span>博客编辑</span></li>
</ol>
<h3>博客编辑 - {{content.title}}</h3>
<form  role="form" method="post">
  <div class="form-group" >
    <label for="category">分类标题</label>
	<select class="form-control" name="category" id="category">
		{% for category in category%}
    {% if content.category._id.toString() == category._id.toString()%}
        <option value ="{{category.id}}" selected>{{category.name}}</option>
    {%else%}
        <option value ="{{category.id}}">{{category.name}}</option>
    {% endif %}

	  {%endfor%}
	</select>
  </div>
  <div class="form-group" >
    <label for="title">标题</label>
    <input type="text" class="form-control" id="title" value="{{content.title}}" name="title">
  </div>

  <div class="form-group" >
    <label for="description">简介</label>
    <textarea name="description" class="form-control" id="description" placeholder="" rows="5">{{content.description}}</textarea>
  </div>
 
  <div class="form-group" >
    <label for="content">内容</label>
    <textarea name="content" class="form-control summernote" id="content" placeholder="" rows="10">{{content.content}}</textarea>
  </div>
  <button type="submit" class="btn btn-default">提交</button>
</form>
{% endblock %}